.clr-main {
    color: #09aff4;
}

.askContainer {
    max-width: 28rem;
    margin-top: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 1.5rem;
}

.askflex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#question {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-right: 0.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    outline: none;
}

#ask {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.375rem;
    outline: none;
    background: linear-gradient(90deg, #030005 0%, #01163d 100%);
    color: white;
    cursor: pointer;
}

#loading-img {
    width: 100%;
}

#response {
    margin-top: 1.5rem;
}
